.container-fluid{
	background-color: lightgrey;
}

.btn {
	margin-top: 10px;
}

.novo {
	background-color: #b8d1bf;
}

.jumbotron{
	height: 1px;
}

td{
	text-align: center;
	line-height: 100px;
	border: none;
}

th{
	text-align: center;
	padding: 5px;
	 
}

.imagem {
    border-radius: 50%;
    min-width: 100%;
  }

tr {
	margin: 100px;
	border: none;
}

table {
	margin: 10px;
	border: solid 2px grey;
}


form{
    margin-bottom: 10pt;
}